In [42]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
from matplotlib import pyplot as plt
import seaborn as sb

In [14]:
df = pd.read_csv("Crop_recommendation.csv")
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [15]:
normalized_cols = df.iloc[:,:-1]
labels = df.iloc[:,-1]
normalized_cols

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [17]:
df = preprocessing.normalize(normalized_cols)
df=pd.DataFrame(df,columns=normalized_cols.columns)
df

             N         P         K  temperature  humidity        ph  rainfall
0     0.367122  0.171324  0.175403     0.085171  0.334500  0.026527  0.827801
1     0.319862  0.218259  0.154286     0.081924  0.302250  0.026485  0.852924
2     0.205069  0.187980  0.150384     0.078625  0.281358  0.026796  0.902182
3     0.271188  0.128265  0.146588     0.097082  0.293757  0.025581  0.890025
4     0.266357  0.143423  0.143423     0.068741  0.278667  0.026050  0.897137
...        ...       ...       ...          ...       ...       ...       ...
2195  0.476586  0.151439  0.142530     0.119256  0.295810  0.030199  0.791821
2196  0.561232  0.085035  0.153063     0.155428  0.321072  0.034507  0.725206
2197  0.522022  0.145989  0.132718     0.106757  0.297399  0.028148  0.766766
2198  0.621009  0.169849  0.180464     0.139448  0.276680  0.035874  0.675017
2199  0.546959  0.094666  0.157777     0.124134  0.317638  0.035657  0.741219

[2200 rows x 7 columns]

In [20]:
df['label'] = labels
df

,N,P,K,temperature,humidity,ph,rainfall,label
0,0.367122,0.171324,0.175403,0.085171,0.334500,0.026527,0.827801,rice
1,0.319862,0.218259,0.154286,0.081924,0.302250,0.026485,0.852924,rice
2,0.205069,0.187980,0.150384,0.078625,0.281358,0.026796,0.902182,rice
3,0.271188,0.128265,0.146588,0.097082,0.293757,0.025581,0.890025,rice
4,0.266357,0.143423,0.143423,0.068741,0.278667,0.026050,0.897137,rice
...,...,...,...,...,...,...,...,...
2195,0.476586,0.151439,0.142530,0.119256,0.295810,0.030199,0.791821,coffee
2196,0.561232,0.085035,0.153063,0.155428,0.321072,0.034507,0.725206,coffee
2197,0.522022,0.145989,0.132718,0.106757,0.297399,0.028148,0.766766,coffee
2198,0.621009,0.169849,0.180464,0.139448,0.276680,0.035874,0.675017,coffee
2199,0.546959,0.094666,0.157777,0.124134,0.317638,0.035657,0.741219,coffee

In [24]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
no_label       0
dtype: int64

In [21]:
df['no_label'] = pd.Categorical(df.label).codes
df['no_label']

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: no_label, Length: 2200, dtype: int8

In [27]:
df

,N,P,K,temperature,humidity,ph,rainfall,label,no_label
0,0.367122,0.171324,0.175403,0.085171,0.334500,0.026527,0.827801,rice,20
1,0.319862,0.218259,0.154286,0.081924,0.302250,0.026485,0.852924,rice,20
2,0.205069,0.187980,0.150384,0.078625,0.281358,0.026796,0.902182,rice,20
3,0.271188,0.128265,0.146588,0.097082,0.293757,0.025581,0.890025,rice,20
4,0.266357,0.143423,0.143423,0.068741,0.278667,0.026050,0.897137,rice,20
...,...,...,...,...,...,...,...,...,...
2195,0.476586,0.151439,0.142530,0.119256,0.295810,0.030199,0.791821,coffee,5
2196,0.561232,0.085035,0.153063,0.155428,0.321072,0.034507,0.725206,coffee,5
2197,0.522022,0.145989,0.132718,0.106757,0.297399,0.028148,0.766766,coffee,5
2198,0.621009,0.169849,0.180464,0.139448,0.276680,0.035874,0.675017,coffee,5
2199,0.546959,0.094666,0.157777,0.124134,0.317638,0.035657,0.741219,coffee,5

In [28]:
X = df[["N","P","K","temperature","humidity","ph","rainfall"]]
y = df['no_label']
X,y

(             N         P         K  temperature  humidity        ph  rainfall
 0     0.367122  0.171324  0.175403     0.085171  0.334500  0.026527  0.827801
 1     0.319862  0.218259  0.154286     0.081924  0.302250  0.026485  0.852924
 2     0.205069  0.187980  0.150384     0.078625  0.281358  0.026796  0.902182
 3     0.271188  0.128265  0.146588     0.097082  0.293757  0.025581  0.890025
 4     0.266357  0.143423  0.143423     0.068741  0.278667  0.026050  0.897137
 ...        ...       ...       ...          ...       ...       ...       ...
 2195  0.476586  0.151439  0.142530     0.119256  0.295810  0.030199  0.791821
 2196  0.561232  0.085035  0.153063     0.155428  0.321072  0.034507  0.725206
 2197  0.522022  0.145989  0.132718     0.106757  0.297399  0.028148  0.766766
 2198  0.621009  0.169849  0.180464     0.139448  0.276680  0.035874  0.675017
 2199  0.546959  0.094666  0.157777     0.124134  0.317638  0.035657  0.741219

 [2200 rows x 7 columns],
 0       20
 1       20
 2       20
 3       20
 4       20
         ..
 2195     5
 2196     5
 2197     5
 2198     5
 2199     5
 Name: no_label, Length: 2200, dtype: int8)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)

ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)

In [32]:
rfc = RandomForestClassifier(n_estimators=10,criterion='entropy')
rfc.fit(X_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [33]:
y_pred = rfc.predict(X_test)

In [34]:
rfc.score(X_test,y_test)

0.9227272727272727

In [46]:
print(f"Accuracy of our model (Random Forest) is: {rfc.score(X_test,y_test)*100}%")

Accuracy of our model (Random Forest) is: 92.27272727272727%

In [37]:
mean_squared_error(y_test,y_pred)

1.5318181818181817

In [38]:
mean_absolute_error(y_test,y_pred)

0.6

In [39]:
r2_score(y_test,y_pred)

0.9598960944264686